<nav class="navbar navbar-expand-lg navbar-light bg-light sb-navbar">
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarsExample09">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="dropdown09">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav pb-3 pb-lg-0">
  <li class="nav-item">
  <a class="nav-link" href="/blog"><button id=signin class="btn-small primary">ZALOGUJ</button></a>
  </li>
  <li class="nav-item d-none d-lg-inline-block">
  <a href="http://przemyslawkrawczynski.pl" class="nav-link text-github">
  <i class="fab fa-github"></i>
  </a>
  </li>
  <li class="nav-item d-none d-lg-inline-block">
    <a href="https://pl.linkedin.com/in/przemyslaw-krawczynski" class="nav-link text-github">
    <i class="fab fa-linkedin"></i>
    </a>
    </li>
  </ul>
  </div>
  </div>
</nav>
