
  <div class="container">
    <hr>
    <div class="row align-items-top text-center text-md-left">

      <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
        <h3><strong>Kontakt</strong></h3>
        <p>Przemysław Krawczyński</p>
        <p>+48662001130</p>
        <p><a href="mailto:">pk (@) bluzo.pl</a></p>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <h3><strong>Technologie</strong></h3>
        <p class="text-small"><b>Backend: </b>Java 8, Spring Boot 2, Spring 4/5, Hibernate 5, REST, Selenium, MySQL, GIT, Gradle<BR><BR>
          <b>Frontend:</b> JS, HTML, CSS, Angular</p>
        <p><Strong>Github: </Strong><a href="https://przemyslawkrawczynski.pl">https://github.com/przemyslawkrawczynski</a></p>
      </div>

      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <h3><strong>O mnie</strong></h3>
        <p>Programista w firmie outsourcingowej, projektowanie i wdrożenie aplikacji usprawniających procesy w Call Center.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        © 2018 FL Group. All Rights Reserved
      </div>
    </div>
  </div>

