<div class=container *ngIf="orders.length == 0">
  <p class="h3">Nie ralizowałeś jeszcze z nami zamówień</p>
</div>
<div class="container" *ngIf="orders.length > 0">
 <div class="d-flex bd-highlight">
   <div class="p-2 flex-grow-1 bd-highlight">
  <p class=h5>Wszystkie Twoje zamówienia</p><BR>
   </div>
   <div class="p-2 bd-highlight">
     <div *ngIf="infoPanel != null" class="alert alert-danger" role="alert">
       {{infoPanel}}
     </div>
 </div>
 </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Numer zamówienia</th>
        <th scope="col">Data zamówienia</th>
        <th scope="col">Liczba pozycji</th>
        <th scope="col">Wartość zamówienia</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let order of orders, index as i">
        <th scope="row">{{ i + 1}}</th>
        <td>{{order.orderId}}</td>
        <td>{{order.createDate}}</td>
        <td>{{order.numberOfItem}}</td>
        <td>{{order.orderValue}}</td>
        <td><button class="btn btn-sm btn-warning">Modyfikuj</button></td>
      </tr>

    </tbody>
  </table>
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
      <p class=h5>Liczba wszystkich zamówień:    <span class="text-primary">{{orders.length}} </span></p>
    </div>
  </div>
</div>

