<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <img src="/assets/img/logo_male.png">
    </div>
    <div class="col-md-6 d-flex justify-content-right border-left">
      <form (ngSubmit)="login(formData)" #formData="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input ngModel type="username" class="form-control" name="username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input ngModel type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]=formData.invalid>LogIn</button>
      </form>
    </div>
  </div>
  <div *ngIf="errorPlace != ''" class="container">
    <div class="alert alert-sm alert-sm alert-danger" role="alert">
      {{errorPlace}}
    </div>
  </div>


