<div class=row>
<div class="col-12">
  <p class="text-right display-4">Shop App</p>
    <p class="text-right text-info"><small>Prosta obsługa e-commerce</small></p>
</div>
</div>
<div class="row align-items-top text-center text-md-left">
  <div class="col-12 col-md-3 mt-5 mt-md-0 text-md-left">
    <img src="/assets/img/cv.jpg" style="rounded float-right" height="250">
  </div>

  <div class="col-12 col-sm-6 col-md-5">
    <p class="text-info"><strong>O autorze</strong><br>
      <strong class="h3 text-secondary">Przemysław Krawczyński</strong></p>
        <hr>
      <p class="text-info" style="border: 1px"><strong>Użyte technologie</strong></p>
    <p><small>
      <b>Backend: </b>Java 8, Spring, Hibernate, REST, MySQL, GIT, Gradle<BR>

      <b>Frontend:</b> HTML, CSS, Angular</small></p>
    <p class="text-info"><small>
      <Strong>Github: </Strong><a href="https://github.com/przemyslawkrawczynski/shop-app">https://github.com/przemyslawkrawczynski/shop-app</a>
    </small></p>
  </div>

</div>
